#applicationBody {
	border: 1px solid black;
	height: 900px;
	margin-left: 5px;
	margin-top: 5px;
	width: 900px;
}

#dumpButton {
	font-size: 15px;
	font-weight: bold;
	left: 337px;
	position: absolute;
	top: 80px;
	user-select: none;
}

#option0 {
	left: 175px;
	position: absolute;
	top: 55px;
	visibility: hidden;
}

#option1 {
	left: 250px;
	position: absolute;
	top: 55px;
	visibility: hidden;
}

#option10 {
	left: 400px;
	position: absolute;
	top: 130px;
	visibility: hidden;
}

#option11 {
	left: 475px;
	position: absolute;
	top: 130px;
	visibility: hidden;
}

#option12 {
	left: 550px;
	position: absolute;
	top: 130px;
	visibility: hidden;
}

#option13 {
	left: 625px;
	position: absolute;
	top: 130px;
	visibility: hidden;
}

#option2 {
	left: 325px;
	position: absolute;
	top: 55px;
	visibility: hidden;
}

#option3 {
	left: 400px;
	position: absolute;
	top: 55px;
	visibility: hidden;
}

#option4 {
	left: 475px;
	position: absolute;
	top: 55px;
	visibility: hidden;
}

#option5 {
	left: 550px;
	position: absolute;
	top: 55px;
	visibility: hidden;
}

#option6 {
	left: 625px;
	position: absolute;
	top: 55px;
	visibility: hidden;
}

#option7 {
	left: 175px;
	position: absolute;
	top: 130px;
	visibility: hidden;
}

#option8 {
	left: 250px;
	position: absolute;
	top: 130px;
	visibility: hidden;
}

#option9 {
	left: 325px;
	position: absolute;
	top: 130px;
	visibility: hidden;
}

.arrow {
	background-color: white;
	background-image: url(arrow.png);
	border: none;
	height: 19px;
	position: absolute;
	transform: translate(-50%);
	width: 33px;
}

.chapos {
	left: 860px;
}

.classChoose {
	border: 3px black solid;
	border-radius: 100%;
	height: 100px;
	left: 75px;
	line-height: 100px;
	position: absolute;
	text-align: center;
	top: 130px;
	transform: translate(-50%);
	user-select: none;
	width: 100px;
}

.conpos {
	left: 620px;
}

.dexpos {
	left: 540px;
}

.dice {
	top: 25px;
}

.down {
	top: 100px;
}

.infopanel {
	border: 3px black solid;
	font-size: 50px;
	height: 80px;
	left: 280px;
	line-height: 80px;
	position: absolute;
	text-align: center;
	top: 30px;
	transform: translate(-50%);
	user-select: none;
	vertical-align: middle;
	width: 80px;
}

.intpos {
	left: 700px;
}

.menuOption {
	background-color: white;
	border: 2px black solid;
	border-radius: 100%;
	box-shadow: 0px 0px 3px 1px;
	height: 60px;
	line-height: 50px;
	text-align: center;
	transform: translate(-50%);
	user-select: none;
	width: 60px;
}

.raceChoose {
	border: 3px black solid;
	border-radius: 100%;
	height: 100px;
	left: 75px;
	line-height: 100px;
	position: absolute;
	text-align: center;
	top: 15px;
	transform: translate(-50%);
	user-select: none;
	width: 100px;
}

.statlabel {
	color: #666666;
	font-size: 15px;
	position: absolute;
	top: 82px;
	transform: translate(-50%);
	user-select: none;
}

.statscore {
	font-size: 40px;
	position: absolute;
	top: 45px;
	transform: translate(-50%);
	user-select: none;
}

.strpos {
	left: 460px;
}

.subclassSelect {
	position: absolute;
	visibility: hidden;
}

.subraceSelect {
	position: absolute;
	visibility: hidden;
}

.switchBody {
	border: 3px black solid;
	height: 60px;
	left: 380px;
	position: absolute;
	top: 40px;
	transform: translate(-50%);
	width: 30px;
}

.switchLabel {
	font-size: 12px;
	left: 380;
	position: absolute;
	top: 108px;
	transform: translate(-50%);
}

.switchNub {
	background-color: gray;
	border: 3px #999999 outset;
	height: 35px;
	left: 380px;
	position: absolute;
	top: 62px;
	transform: translate(-50%);
	width: 24px;
}

.up {
	background-image: url(uparrow.png);
	top: 20px;
}

.wispos {
	left: 780px;
}
